body {
  /* background-image: url('../images/numberWang.jpg');
  background-repeat: no-repeat;
  background-position: top; */
  color: papayawhip;
  background-color: darkgreen;
  font-family: sans-serif;
}

form {

}
